version: "3.9"

services:
  db:
    image: mysql:8.0
    container_name: db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - "${MYSQL_PORT}:3306"
    volumes:
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql

  backend:
    build: ./weather-app-backend
    container_name: weather-backend
    restart: always
    depends_on:
      - db
    env_file:
      - ./weather-app-backend/.env
    ports:
      - "3000:3000"

  frontend:
    build: ./weather-app-frontend
    container_name: weather-frontend
    restart: always
    depends_on:
      - backend
    ports:
      - "80:80"
