/* ======== GLOBAL DARK THEME ======== */

:root {
  --bg-main: #121212;
  --bg-card: #1e1e1e;
  --border-soft: #2a2a2a;

  --text-primary: #eaeaea;
  --text-secondary: #b6b6b6;

  --accent: #4fc3f7;
  --accent-hover: #81d4fa;

  --error: #ef5350;
  --success: #66bb6a;

  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
  background: var(--bg-main);
  color: var(--text-primary);
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

a {
  color: var(--text-primary);
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

ul {
  list-style: none;
  padding: 0;
}
