nav, footer{
  background-color: #007BFF;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu{
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.btn-session button, .btn-session NavLink, .btn-close-session{
  padding: 1rem;
  margin: 1rem;
  border: solid 2px #ffffff;
  border-radius: 4px;
  background-color: #007BFF;
  color: #ffffff;
}

.btn-close-session{
  background-color: #d81414;
}

.no-session{
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,h3{
  text-align: center;
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.form-row{
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-search-weather{
  border: solid 2px #007BFF;
}

button[type="submit"]{
  color: #ffffff;
  border: solid 2px #d4912b;
  border-radius: 4px;
  background-color: #FFA726;
}

.form-login, .form-register{
  background-color: #E0F7FA;
  color: #333333;
}